html, body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.graph-container
{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.barcode-container
{
    background-color: rgba(175, 175, 175, 0.77);
    min-width: 200px;
    right: 0;
    top: 0;
    z-index: 1;
}

.barcode-container .slider
{
    right: 0;
    width: 210px;
    z-index: 2;
}

.barcode-container .bars
{
    right: 5px;
    top: 25px;
}

.links path {
    stroke: #999;
    stroke-opacity: 0.3;
    fill: none;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1px;
}