.graph
{
    float: left;
    width: 70%;
    height: 100%;
}

.barcode
{
    width: 30%;
    height: 100%;
}

.barcode .slider
{
    position: absolute;
    width: 210px
}

.barcode .barchart
{
    position: absolute;
    top: 50px;
    height: 100%;
}