html, body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#info
{
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 10%;
    width: 300px;
    background: cadetblue;
    visibility: hidden;
}

#deselect_button
{
    position: absolute;
    visibility: hidden;
    top: 0;
    left: calc(50% - 50px);
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #4281fc;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#deselect_button:hover {
    background-color: #555;
}

.group-label {
    z-index: 98;
    right: 350px;
    top: 0;
    position: absolute;
}

.graph-container
{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.barcode-container
{
    min-width: 200px;
    width: 350px;
    right: 0;
    top: 0;
    z-index: 1;
    height: 1050px;
}

.barcode-container .slider
{
    z-index: 2;
}

#bcont
{
    margin-top: -5px;
    margin-left: 7px;
    margin-right: 7px;
}

.barcode-container .bars {
    right: 5px;
    top: 25px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loadingText {
    position: absolute;
    left: calc(50% + 100px);
    top: calc(50% - 0.7vw);
    font-family: "Arial Black", monospace;
    font-size: 1vw;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.content
{
    display: none;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
    position: absolute;}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #0075FF;

}

.scrollbar {
    scrollbar-color: #0075FF;
    border-radius: 10px;
}
.bordered-black::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border: 1px solid #0075FF; }

.bordered-black::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
    border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important; }

.thin::-webkit-scrollbar {
    width: 6px; }